<header class="header">
  <din class="main-nav">
    <div class="nav-area">
      <div class="nav-left">
        <div class="logo-wrapper">
          <a href="/" class="logo">
            <img src="./images/home/iitglogo.png" alt="logo" />
            <div class="logo-container">
              <span>Industrial Energy Assessment Cell</span>
              <span>Indian Institute of Technology Guwahati</span>
            </div>
          </a>
        </div>
      </div>
      <div class="nav-center">
        <div class="nav-center-inner">
          <nav class="nav-pages">
            <ul class="main-menu">
              <li>
                <a class="nav-tab" href="./index.html"><span>HOME</span></a>
              </li>
              <li>
                <a class="nav-tab" href="./beneficiaries.html"><span>Beneficiaries</span></a>
              </li>
              <li>
                <a class="nav-tab" href="./career.html"><span>Career</span></a>
              </li>
              <li>
                <a class="nav-tab" href="./internship.html"><span>Internship</span></a>
              </li>
              <li>
                <a class="nav-tab" href="./KISEM.html"><span>KISEM</span></a>
              </li>
              <li>
                <a class="nav-tab" href="./instruments.html"><span>Instruments</span></a>
              </li>
              <li>
                <a class="nav-tab" href="./studies.html"><span>Studies</span></a>
              </li>
              <li>
                <a class="nav-tab" href="./contact.html"><span>Contact Us</span></a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
      <!-- <% if(path == '/'){ %>
      <div class="nav-right">
        <div class="nav-right-inner">
          <a class="nav-link" href="#get-in-touch"><span>Connect Us</span></a>
        </div>
      </div>
      <% } %> -->
    </div>
  </din>
  <div class="mobile-nav">
    <div class="mobile-nav-area">
      <div class="mobile-nav-header">
        <div class="mobile-logo">
          <a href="/" class="logo">
            <img src="./images/home/iitglogo.png" alt="logo" />
            <div class="logo-container">
              <span>Industrial Energy Assessment Cell</span>
              <span>Indian Institute of Technology Guwahati</span>
              <span class="mobile-text">IEAC : IITG</span>
            </div>
          </a>
        </div>
        <div class="menu-icon">
          <i class="fa-solid fa-bars"></i>
        </div>
      </div>
      <div class="mobile-nav-menu">
        <ul>
          <li>
            <a class="nav-tab" href="./index.html"><span>HOME</span></a>
          </li>
          <li>
            <a class="nav-tab" href="./beneficiaries.html"><span>Beneficiaries</span></a>
          </li>
          <li>
            <a class="nav-tab" href="./career.html"><span>Career</span></a>
          </li>
          <li>
            <a class="nav-tab" href="./internship.html"><span>Internship</span></a>
          </li>
          <li>
            <a class="nav-tab" href="./KISEM.html"><span>KISEM</span></a>
          </li>
          <li>
            <a class="nav-tab" href="./instruments.html"><span>Instruments</span></a>
          </li>
          <li>
            <a class="nav-tab" href="./studies.html"><span>Studies</span></a>
          </li>
          <li>
            <a class="nav-tab" href="./contact.html"><span>Contact Us</span></a>
          </li>
        </ul>
      </div>

    </div>
  </div>
  <div class="sticky-nav" >
    <div class="sticky-nav-holder">
      <div class="stick-nav-area">
        <div class="sticky-nav-left">
          <div class="logo-wrapper">
            <a href="/" class="logo">
              <img src="./images/home/iitglogo.png" alt="logo" />
              <div class="logo-container">
                <span>Industrial Energy Assessment Cell</span>
                <span>Indian Institute of Technology Guwahati</span>
              </div>
            </a>
          </div>
        </div>
        <div class="sticky-nav-center">
          <div class="nav-center-inner">
            <nav class="nav-pages">
              <ul class="stick-menu">
                <li>
                  <a class="nav-tab" href="./index.html"><span>HOME</span></a>
                </li>
                <li>
                  <a class="nav-tab" href="./beneficiaries.html"><span>Beneficiaries</span></a>
                </li>
                <li>
                  <a class="nav-tab" href="./career.html"><span>Career</span></a>
                </li>
                <li>
                  <a class="nav-tab" href="./internship.html"><span>Internship</span></a>
                </li>
                <li>
                  <a class="nav-tab" href="./KISEM.html"><span>KISEM</span></a>
                </li>
                <li>
                  <a class="nav-tab" href="./instruments.html"><span>Instruments</span></a>
                </li>
                <li>
                  <a class="nav-tab" href="./studies.html"><span>Studies</span></a>
                </li>
                <li>
                  <a class="nav-tab" href="./contact.html"><span>Contact Us</span></a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="overlay"></div>
</header>