.banner {
    background-color: #012970;
    background-size: cover;
    background-position: 0;
    background-repeat: no-repeat;
    width: 100%;
    height: 50vh;
    /* padding: 4vw; */
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    }
.page1{
    /* background: linear-gradient(180deg,rgba(0, 0, 0, 0.6)  20%, rgba(0, 0, 0, 0.6) 100%); */
    width: 100%;
    height: 100%;
    position: relative;
    clear: both;
    z-index: 1;
    /* padding: 80px 0px; */
}
.container-inner{
    position: relative;
    z-index: 10;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: #fff;
}
.container-inner h1{
    font-size: 50px;
    text-transform: uppercase;
    font-weight: 900;
    text-align: center;
    letter-spacing: .15em;
    position: relative;
}
.container-inner h2{
    line-height: 1.2em;
    font-weight: 700;
    letter-spacing: .35em;
    text-transform: uppercase;
    text-align: center;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
    margin-top: 1.75rem;
}
.container-inner p{
    text-align: center;
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 400;
    color: #eee;
    width: 60%;
}



/* General Styling */
.instruments-page {
    /* padding: 40px; */
    width: 100%;
    /* padding: 6vh 6vw; */
}
.ans{
    max-height: 0;
    width: 100%;
    overflow: hidden;
    transition: all 1.2s ease;
}
.ans h3 {
    font-size: 2.2rem;
    color: #012970;
    margin-bottom: 20px;
    text-align: center;
    border-bottom: 2px solid #012970;
    display: inline-block;
    padding-bottom: 10px;
}
.ans h4 {
    font-size: 1.1rem;
    color: #012970;
    font-weight: 400;
}
.ans p{
    line-height: 1.5;
    color: #444;
    font-size: 0.9rem;
    font-weight: 400;
}
.instrument-container p{
    line-height: 1.5;
    color: #444;
    margin-bottom: 10px;
    font-size: 1.1rem;
    font-weight: 300;
}


.ans ul {
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}
.tab-list{
    margin: 0 !important;
}
.ans ul li {
    list-style-type: disc;
    font-weight: 300;
    color: #555;
    margin-bottom: 10px;
}

.ans a {
    color: #0066cc;
    text-decoration: none;
}

.ans a:hover {
    text-decoration: underline;
}

/* Tab Container */
.tab-container {
    display: flex;
}

.tab-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    border-right: 1px solid #ddd;
    /* width: 50%; */
}

.tab-item {
    padding: 15px;
    background-color: #f9f9f9;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
    width: 30vw;
    text-align: center;
    transition: background-color 0.3s ease;
}

.tab-item:hover {
    background-color: #f0f0f0;
}

.tab-item.active {
    background-color: #012970;
    color: white;
}

.tab-content {
    display: none;
    flex-grow: 1;
    padding: 40px;
    background-color: #fff;
    border-left: 2px solid #ddd;
}

.tab-content.active {
    display: block;
}



/* FAQ section CSS */

.faq{
    padding: 6vh 6vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.faq>p{
    display: block;
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 400;
    color: #000;
    margin-bottom: 20px;
}
.faq-container{
    margin-top: 2rem;
    width: 100%;
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.que{
    display: flex;
    height: 100%;
    width: 100%;
    padding: 1.25rem 2rem;
    color: #012970;
    justify-content: space-between;
    align-items: center;
    border-left: 10px #f2f2f2 solid;
    cursor: pointer;
    box-sizing: border-box;
    transition: 0.3s;
}
.que:hover{
    border-left: 10px #012970 solid;
}
.que svg{
    transition: transform 0.5s ease-in;
    fill: #012970;
}
.que h3{
    font-size: 1.5rem;
    font-weight: 500;
}
.que h3{
    width: 90%;
}

.instrument-container{
    display: flex;
    gap: 50px;
    margin: 20px 0;
}
.instrument-container img{
    height: 300px;
}

.faq-container.active .ans{
    max-height: 1000px;
    animation: fade 1s ease-in-out;
    padding: 2rem 4rem;
}
.faq-container.active .que svg{
    transform: rotate(180deg);
}

@keyframes fade{
    from{
        opacity: 0;
        transform: translateY(-10px);
    }
    to{
        opacity: 1;
        transform: translateY(0px);
    }
}



/* Responsive Design */
@media (max-width: 768px) {
    .container-inner{
        gap: 20px;
    }
    .container-inner h1{
        font-size: 35px;
    }
    .container-inner h2{
            
        letter-spacing: .20em;
        line-height: 1.1;
    }
    .instrument-img{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .tab-container {
        flex-direction: column;
    }

    .tab-list {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }

    .tab-item {
        flex: 1 1 calc(50% - 2px);
        text-align: center;
    }

    .tab-content {
        border-left: none;
    }
    .faq>p{
        font-size: 1.1rem;
        line-height: 1.5;
    }
    .faq-container{
        margin-top: 1.5rem;
    }
    .que h3{
        font-size: 1.25rem;
        font-weight: 500;
    }
    .faq-container.active .ans{
        max-height: 2000px;
    }
    .instrument-container{
        flex-direction: column;
        align-items: center;
        margin-bottom: 0;
    }
    .ans p{
        line-height: 1.5;
        color: #444;
        font-size: 0.9rem;
        font-weight: 400;
    }
    .instrument-container p{
        text-align: justify;
        line-height: 1.2;
        font-size: 1.1rem;
        font-weight: 300;
    }
    .que svg{
        height: 15px;
        width: 15px;
    }
}

@media(max-width: 500px){
    .instrument-container img{
        height: 200px;
    }
    .faq>p{
        font-size: 1rem;
        line-height: 1.2;
        text-align: justify;
    }
    .banner{
        height: 55vh;
    }
    .que{
        padding: 1rem;
    }
    .que h3{
        font-size: 1rem;
    }

    .ans p{
        line-height: 1.1;
        font-size: 1rem;
    }

    .container-inner{
        padding: 0 10px;
    }
    .container-inner p{
        width: 100%;
        font-size: 0.9rem;
        line-height: 1.2rem;
    }
    .container-inner h1{
        font-size: 30px;
        font-family: "montserrat";
    }
    .container-inner h2{
        font-size: 18px;
    }
    .faq-container.active .ans{
        max-height: 2200px;
        animation: fade 1s ease-in-out;
        padding: 1rem 1.5rem;
    }
}